{% if new.date < date() or is_granted("ROLE_ADMIN") %}
    <div class="m-t-2">
        <div class="row">
            <h2 class="{% if new.date > date() %}text-danger{% endif %}"> {% if new.date > date() %}<i class="fa fa-eye-slash" data-toggle="tooltip" title="News non publiée"></i> {% endif %}{{ new.title }}</h2>
            <span class="text-muted"><i class="fa fa-user"></i> {{ new.author }} - <i class="fa fa-clock-o"></i> {{ new.date|format_date('dd MMMM yyyy - HH:mm') }}</span>
            <hr class="text-danger">
        </div>

        <div class="row text-justify">
            {{ new.message|raw }}
        </div>
    </div>
{% endif %}