{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Administration
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Administration</li>
{% endblock %}

{% block body %}

{% endblock %}