<tr data-id="{{ edition.id }}">
    <td>{{ edition.name }}</td>
    <td>// TODO</td>
    <td>
        <div class="btn-toolbar" role="toolbar" aria-label="Outils">
            <div class="btn-group btn-group-sm" role="group" aria-label="Edition">
                <button type="button" class="btn btn-secondary" data-action="refresh" data-id="{{ edition.id }}" data-toggle="tooltip" title="Rafraîchir les données des vainqueurs"><i class="fa fa-refresh"></i></button>
                <button type="button" class="btn btn-secondary" data-action="edit" data-id="{{ edition.id }}"><i class="fa fa-pencil"></i></button>
            </div>
        </div>
    </td>
</tr>