{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Calendrier
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Calendrier</li>
{% endblock %}

{% block body %}
    <h1>Calendrier</h1>
    <hr>

    <div class="calendar">
        {% include 'MainBundle:Calendrier:calendarGrid.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/compiled/main/calendar.js'
    '@MainBundle/Resources/public/js/calendar.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
