{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Liste des équipes
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Liste des équipes</li>
{% endblock %}

{% block body %}
    <h1>Liste des équipes inscrites</h1>
    <hr>

    <div class="bg-inverse text-white p-1">
        <input id="input_search" class="form-control" type="text" placeholder="Rechercher une équipe, un personnage, ...">


        <button id="btn_search" class="btn btn-outline-primary pull-right mt-1"><i class="fa fa-search"></i> Rechercher</button>
        <div class="clearfix"></div>
    </div>

    <div class="row mt-2 teams_grid">
        {% include 'TeamBundle:Front:teamsGrid.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/compiled/team/front/team.js'
    '@TeamBundle/Resources/public/js/team.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
