{% for team in teams %}
    {% include 'TeamBundle:Front:teamRow.html.twig' %}
{% else %}
    <div class="alert alert-info">
        Aucune équipe trouvée
    </div>
{% endfor %}

{% if pagination is defined %}
    <div class="col-md-12">
        {% include ':default:pagination.html.twig' %}
    </div>
{% endif %}
